.idea
.DS_Store
venv

__pycache__
.ipynb_checkpoints

*.egg-info
.eggs
build
dist

dataset
example_applications/thorax_disease_classification/trained_models/*
example_applications/thorax_disease_classification/result_stats/*
example_applications/thorax_disease_classification/dataset
